<!DOCTYPE html>
<html>
    <head>
        <title>Python-Flask credits tool </title>
    </head>
    <body>
        <h1>Build Web App Using Flask and SQLite</h1>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('creditsRegister') }}';">Registra nuevos créditos</button><br/>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('creditsList') }}';">Ver lista de créditos</button>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('creditsDashboard') }}';">Visualizar gráfica</button>
    </body>
</html>